body {
  height: 100%;
  overflow: hidden;
}

.home-link {
    float:right;
    position: relative;
    width: 70%;
    margin: 20px auto 20px;
    padding: 30px 50px;
    background-color: #fb989a50;
    backdrop-filter: blur(2px);
    border-radius: 25px;
    box-sizing:border-box;
}

.home-link1 {
  height: 100px;
  width: 100px;
  padding: 8px;
  background: #ffffff30;
  border-radius: 25px;
  float: left;
  margin: 8px;
}

.home-link2 {
  height: 100px;
  width: 100px;
  padding: 8px;
  background: #ffffff30;
  border-radius: 25px;
  float: left;
  margin: 8px;
}

.home-link3 {
  height: 100px;
  width: 100px;
  padding: 8px;
  background: #ffffff30;
  border-radius: 25px;
  float: left;
  margin: 8px;

}

.home-link4 {
  height: 100px;
  width: 100px;
  padding: 8px;
  background: #ffffff30;
  border-radius: 25px;
  float: left;
  margin: 8px;

}

.countdown{
    float:left;
    position: relative;
    width: 50%;
    margin: 30px 10% 20px;
    padding: 30px 50px;
    background-color: #fff; 
    backdrop-filter: blur(2px);
    border-radius: 25px;
    box-sizing:border-box;
}


