body {
    color: #fb989a;
}
a{
    text-decoration:none;
    color:#fafafa;
}
a:hover{
    color:#ab989a;
}
.xlcm{
    color:#fe0302;
    width:90%;
    margin:5% 5%;
}
.导航{
    width: 80%;
    margin: 15% 10% 20% 10%;
    padding: 10px 5px 70px 5px; 
    border-radius: 25px;
    float:center;
    background-color: #ab989a50;
    position: relative;
    box-sizing:border-box;
}
.顶{
    float:left;
    width:30%;
    box-sizing:border-box;
    height:50%;
}
.dh{
    float: left;
    width: 20%;
    margin: 1% 0 1% 0;
    box-sizing:border-box;
}
.link{
    float:right;
    position: relative;
    width: 70%;
    margin: 30px auto 20px;
    padding: 30px 50px;
    background-color: #ab989a50; 
    border-radius: 25px;
    box-sizing:border-box;
}
.分割{
    float:left;
    width:70%;
    margin:20px 20%;
    box-sizing:border-box;
}
.end1{
    float:right;
    position: relative;
    width: 70%;
    margin: 20px auto 20px;
    padding: 30px 50px;
    background-color: #ffffff50;
    border-radius: 25px;
    box-sizing:border-box;
}
.tip{
    float:left;
    color:#ab989a;
    width:70%;
    margin:20px auto;
    box-sizing:border-box;
}
.切换 {
    color: #fb989a;
}
.qwq {
    width: 88%;
    padding: 8px 20px 8px 32px;
    height: 10%;
    float: left;
}
.qwq > .to-change-ground {
    border-style: solid;
    border: 1px 0px 1px 0px;
    border-color: #ffffff50;
}
button {
    background-color: #dcb3b47a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}