body {
    margin: 0;
    background-color: #f1f2f3;
}
a {
    color: #000;
    text-decoration-line: none;

}

.text-box-max-main-pro-master {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}@media (max-width: 760px) {/*适配手机屏幕浏览*/
    .text-box-max-main-pro-master {
        width: auto;
        margin: 10px 4%;
    }
}@media (min-width: 760px) {/*电脑及平板浏览*/
    .text-box-max-main-pro-master {
        width: 708px;
        margin: 10px auto;
    }
}



.Maintitle {
    font-size: 1.5em;
    padding: 40px 56px 0;
}
h2 {padding: 20px 60px 0;}h3 {padding: 15px 64px 0;}h4 {padding: 10px 56px 0;}h5 {padding: 5px 56px 0;}h6 {padding: 0 56px;}
.writeTime {
    color: #666;
    padding: 0 56px;
}
.word-count {
    color: #666;
    padding: 0 56px;
}
.Theline {
    margin: 12px 56px;
    width: 60%;
    height: 1px;
    background-color: #AAA;
}

p {
    color: #333;
    padding: 1px 56px;
}